{% extends "core/base.html" %}
{% block title %}<title>PMT | Conformance Check</title>{% endblock %}
{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Conformance Check</h1>
        </div>

        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h3 class="h3 mb-0 text-gray-800">Token Replay</h3>
        </div>

        <div class="row text-center">
            <div class="col-xl-2 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Event Log
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ selected_event_log_name }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Process Model
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ selected_process_model_name }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Total Traces
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ token_replay_results.overview.total_traces }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Total Fit Traces
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ token_replay_results.overview.total_fit_traces }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Traces With Problems
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ token_replay_results.overview.total_traces_problem }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Median Trace Fitness
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ token_replay_results.overview.trace_fitness_median }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table id="table_replayed_traces" class="display text-center">
                    <thead>
                    <tr>
                        <th>No.</th>
                        <th>Trace is Fit</th>
                        <th>Trace Fitness</th>
                        <th>Activated Transitions</th>
                        <th>Reached Marking</th>
                        <th>Enabled Transitions Marking</th>
                        <th>Transitions With Problems</th>
                        <th>Missing Tokens</th>
                        <th>Consumed Tokens</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for trace in token_replay_results.replayed_traces %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ trace.trace_is_fit }}</td>
                            <td>{{ trace.trace_fitness }}</td>
                            <td>
                                <a href="#activated_transitions{{ forloop.counter }}" data-toggle="modal"
                                   class="btn btn-primary btn-sm">Show</a>
                                <div class="modal fade" id="activated_transitions{{ forloop.counter }}" tabindex="-1"
                                     role="dialog"
                                     aria-labelledby="exampleModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Activated
                                                    Transitions</h5>
                                                <button class="close" type="button" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                {% for transition in trace.activated_transitions %}
                                                    <p>{{ transition }}</p>
                                                {% endfor %}
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-primary" type="button" data-dismiss="modal">Ok
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <a href="#reached_marking{{ forloop.counter }}" data-toggle="modal"
                                   class="btn btn-primary btn-sm">Show</a>
                                <div class="modal fade" id="reached_marking{{ forloop.counter }}" tabindex="-1"
                                     role="dialog"
                                     aria-labelledby="exampleModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Reached Marking</h5>
                                                <button class="close" type="button" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                {% for marking in trace.reached_marking %}
                                                    <p>{{ marking }}</p>
                                                {% endfor %}
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-primary" type="button" data-dismiss="modal">Ok
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <a href="#enabled_transitions_marking{{ forloop.counter }}" data-toggle="modal"
                                   class="btn btn-primary btn-sm">Show</a>
                                <div class="modal fade" id="enabled_transitions_marking{{ forloop.counter }}"
                                     tabindex="-1" role="dialog"
                                     aria-labelledby="exampleModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Enabled Transitions
                                                    Marking</h5>
                                                <button class="close" type="button" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                {% for marking in trace.enabled_transitions_in_marking %}
                                                    <p>{{ marking }}</p>
                                                {% endfor %}
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-primary" type="button" data-dismiss="modal">Ok
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <a href="#transitions_problems{{ forloop.counter }}" data-toggle="modal"
                                   class="btn btn-primary btn-sm">Show</a>
                                <div class="modal fade" id="transitions_problems{{ forloop.counter }}" tabindex="-1"
                                     role="dialog"
                                     aria-labelledby="exampleModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Transitions with
                                                    problems</h5>
                                                <button class="close" type="button" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                {% for transition in trace.transitions_with_problems %}
                                                    <p>{{ transition }}</p>
                                                {% endfor %}
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-primary" type="button" data-dismiss="modal">Ok
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>{{ trace.missing_tokens }}</td>
                            <td>{{ trace.consumed_tokens }}</td>
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h3 class="h3 mb-0 text-gray-800">Alignment</h3>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table id="table_aligned_traces" class="display text-center">
                    <thead>
                    <tr>
                        <th>No.</th>
                        <th>Alignment</th>
                        <th>Cost</th>
                        <th>Visited States</th>
                        <th>Queued States</th>
                        <th>Traversed Arcs</th>
                        <th>LP Solved</th>
                        <th>Fitness</th>
                        <th>BWC</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for alignment_trace in aligned_traces %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>
                                <a href="#activated_transitions{{ forloop.counter }}" data-toggle="modal"
                                   class="btn btn-primary btn-sm">Show</a>
                                <div class="modal fade" id="activated_transitions{{ forloop.counter }}" tabindex="-1"
                                     role="dialog"
                                     aria-labelledby="exampleModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Alignment</h5>
                                                <button class="close" type="button" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                {% for classification in alignment_trace.alignment %}
                                                    <p>{{ classification }}</p>
                                                {% endfor %}
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-primary" type="button" data-dismiss="modal">Ok
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>{{ alignment_trace.cost }}</td>
                            <td>{{ alignment_trace.visited_states }}</td>
                            <td>{{ alignment_trace.queued_states }}</td>
                            <td>{{ alignment_trace.traversed_arcs }}</td>
                            <td>{{ alignment_trace.lp_solved }}</td>
                            <td>{{ alignment_trace.fitness }}</td>
                            <td>{{ alignment_trace.bwc }}</td>
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
        <!-- End of Main Content -->

{% endblock %}