{% extends "core/base.html" %}
{% load mathfilters %}
{% block title %}<title>PMT | Monte Carlo Simulation</title>{% endblock %}
{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Monte Carlo Simulation</h1>
        </div>
        <div class="row">
            {# Event Log Name #}
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Event Log Name
                                </div>
                                <div class=" mb-0 font-weight-bold text-gray-800">{{ simulated_event_log.event_log_name }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {# Event Log Owner #}
            <div class="col-xl-2 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Event Log Type
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ simulated_event_log.event_log_type }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Median Case Ex Time
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ simulation_results.median_cases_ex_time|div:3600|floatformat:2 }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Case Arrival Ratio
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ simulation_results.input_case_arrival_ratio }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Total cases time (H)
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ simulation_results.total_cases_time|div:3600|floatformat:2 }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
            <h6>Cases Execution Time</h6>
                <table id="table_cases_ex_time" class="display text-center">
                    <thead>
                    <tr>
                        <th>Case No.</th>
                        <th>Time (H)</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for time in simulation_results.cases_ex_time %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ time|div:3600|floatformat:2 }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <label class="font-weight-bolder" for="content">Event Log Content:</label>
                <textarea class="form-control" name="content" id="content" cols="" rows="25">
                    {{ event_log_file_content }}
                </textarea>

            </div>
        </div>


    </div>
    <!-- End of Main Content -->

{% endblock %}