{% extends "core/base.html" %}
{% block title %}<title>PMT | Performance Dashboard</title>{% endblock %}
{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Performance Dashboard - Overview</h1>
        </div>

        <div class="row">
            {# Count Cases #}
            <div class="col-xl-2 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Cases
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ statistics_results.count_case }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {# Case variants #}
            <div class="col-xl-2 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Case Variants
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ statistics_results.count_variants }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {# Activity Instances #}
            <div class="col-xl-2 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    <a href="#view_rework_cases" data-toggle="modal"><span
                                            class="material-icons icon-span">visibility</span></a>
                                    <span>Rework (Activities) </span>
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ statistics_results.rework_activities_counter }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {# Activities #}
            <div class="col-xl-2 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    <a href="#view_rework_cases" data-toggle="modal"><span
                                            class="material-icons icon-span">visibility</span></a>
                                    <span>Rework (cases) </span>
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ statistics_results.rework_cases_counter }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {# Case duration #}
            <div class="col-xl-2 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Case Duration (h)
                                </div>
                                <div class="h6 mb-0 font-weight-bold text-gray-800">
                                    Min: {{ statistics_results.min_case_duration }}</div>
                                <div class="h6 mb-0 font-weight-bold text-gray-800">
                                    Median: {{ statistics_results.median_case_duration }}</div>
                                <div class="h6 mb-0 font-weight-bold text-gray-800">
                                    Average: {{ statistics_results.average_case_duration }}</div>
                                <div class="h6 mb-0 font-weight-bold text-gray-800">
                                    Max: {{ statistics_results.max_case_duration }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {# Log Timeframe #}
            <div class="col-xl-2 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Log Timeframe
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">Start: 02/2/22</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">End: 08/2/22</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <input type="hidden" id="points_case_duration_graph"
                       value="{{ statistics_results.points_case_duration_graph }}">
                <script>
                    let points_case_duration_graph ={{ statistics_results.points_case_duration_graph|safe }};
                </script>
                <canvas id="case_duration_graph" width="800" height="400"></canvas>
            </div>
            <div class="col-lg-6">
                <script>
                    let points_events_over_time_graph ={{ statistics_results.points_events_over_time_graph|safe }};
                </script>
                <canvas id="events_over_time_graph" width="800" height="400"></canvas>
            </div>
        </div>
    </div>
    <div id="view_rework_activities" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                {# Modal Header #}
                <div class="modal-header">
                    <h4 class="modal-title">Rework (Activities)</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <table id="table_rework_activities" class="display">
                        <thead>
                        <tr>
                            <th>No.</th>
                            <th>Activity</th>
                            <th>Count</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for activity,count in statistics_results.rework_activities.items %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ activity }}</td>
                                <td>{{ count }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {# Modal footer #}
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <div id="view_rework_cases" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                {# Modal Header #}
                <div class="modal-header">
                    <h4 class="modal-title">Rework (Cases)</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <table id="table_rework_cases" class="display">
                        <thead>
                        <tr>
                            <th>Case No.</th>
                            <th>Activity</th>
                            <th>Count</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for case,activities in statistics_results.rework_cases.items %}
                            {% for activity,count in activities.items %}
                                <tr>
                                    <td>{{ forloop.parentloop.counter }}</td>
                                    <td>{{ activity }}</td>
                                    <td>{{ count }}</td>
                                </tr>
                            {% endfor %}

                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {# Modal footer #}
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Main Content -->

{% endblock %}