{% extends "core/base.html" %}
{% load crispy_forms_tags %}
{% block title %}<title>PMT | Process Model Visualization</title>{% endblock %}
{% block content %}
    <div class="container-fluid">
        {# Details start #}
        <section id="details ">
            <div class="row mb-5">
                <div class="col-4">
                     <p>Process Model Name: {{ process_model.process_model_name }} </p>
                </div>
                <div class="col-4">
                    <p>Process Model Owner: {{ process_model.process_model_owner }}</p>
                </div>
                <div class="col-4">
            <p>Event Log Name: {{ process_model.process_model_log_name }}</p>
                </div>



            </div>
        </section>
        {# Details end #}

        <section id="graph">
            {# BPMN graph start #}
            <div id="canvas"></div>
            {# BPMN graph end #}
        </section>


        {# BPMN graph end #}
    </div>
    </div>
{% endblock %}