{% extends "core/base.html" %}
{% load crispy_forms_tags %}
{% block title %}<title>PMT | Process Model List</title>{% endblock %}
{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Process Models</h1>
            <div class="row">
                <div>
                    <a href="{% url 'process_handling:process_model_create' %}" class="btn btn-primary"><span
                            class="material-icons icon-span">add_circle_outline</span> Upload new
                        Process
                        Model</a>
                </div>
                <div class=ml-3>
                    <a href="{% url 'process_handling:process_model_discover' %}" class="btn btn-primary">
                        <span
                            class="material-icons icon-span">search</span> <span></span>Discover new Process
                        Model</a>
                </div>
            </div>
        </div>


        {# Table presenting process models #}
        <table id="table_process_models" class="display text-center">
            <thead>
            <tr>
                <th>ID</th>
                <th>Owner</th>
                <th>Name</th>
                <th>Event Log</th>
                <th>BPMN File</th>
                <th>PNML File</th>
                <th>BPMN PNG</th>
                <th>PNML PNG</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for model in process_models %}
                <tr>
                    <td>{{ model.process_model_id }}</td>
                    <td>{{ model.process_model_owner }}</td>
                    <td>{{ model.process_model_name }}</td>
                    <td>{{ model.process_model_log_name }}</td>
                    <td><a href="{{ model.process_model_bpmn_file.url }}" class="btn btn-primary btn-sm"><span
                            class="material-icons">file_download</span></a></td>
                    <td><a href="{{ model.process_model_pnml_file.url }}" class="btn btn-primary btn-sm"><span
                            class="material-icons">file_download</span></a></td>
                    <td><a href="{{ model.process_model_bpmn_png.url }}" class="btn btn-primary btn-sm"><span
                            class="material-icons">file_download</span></a></td>
                    <td><a href="{{ model.process_model_pnml_png.url }}" class="btn btn-primary btn-sm"><span
                            class="material-icons">file_download</span></a></td>
                    <td>
                        <a href="{% url "process_handling:process_model_detail" model.process_model_id %}"
                           class="btn btn-info btn-sm"><span class="material-icons">visibility</span></a>
                        <a href="{% url "process_handling:process_model_update" model.process_model_id %}"
                           class="btn btn-warning btn-sm"><span class="material-icons">edit</span></a>
                        <a href="#delete_process_model{{ model.pk }}" class="btn btn-danger btn-sm" data-toggle="modal"><span
                                class="material-icons">delete</span></a>
                        {% include "process_handling/process_model_confirm_delete.html" %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}