{% extends "core/base.html" %}
{% load crispy_forms_tags %}
{% block title %}<title>PMT | Event Logs</title>{% endblock %}
{% block content %}

    <div class="container-fluid">
        <div class="row">
            {# Event Log Name #}
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Event Log Name
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ event_log.event_log_name }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {# Event Log Owner #}
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Event Log Owner
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ event_log.event_log_owner }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {# Event Log Owner #}
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Event Log Type
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ event_log.event_log_type }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <label class="font-weight-bolder" for="content">Event Log Content:</label>
                <pre>
                    <code class="xml" name="content" id="content">
                        {{ event_log_file_content }}
                    </code>
                </pre>
            </div>
        </div>
    </div>

{% endblock %}