{# Delete Event log Modal #}
<div id="delete_event_log{{ log.pk }}" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            {# Modal Header #}
            <div class="modal-header">
                <h4 class="modal-title">Delete {{ log.event_log_name }}?</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            {# Modal footer #}
            <div class="modal-footer">
                <form method="post" action="{% url 'data_handling:event_log_delete' log.pk %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel
                </button>
            </div>
            </form>
        </div>
    </div>
</div>
