{% extends "core/base.html" %}
{% block title %}<title>PMT | Home</title>{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <h2>Welcome to the Process Mining Tool!</h2>
    </div>
    <!-- End of Main Content -->
    {# Modals Start #}

    {# Discover Process Modal Modal Start #}
    <div id="discover_process_model" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                {# Modal Header #}
                <div class="modal-header">
                    <h4 class="modal-title">Discover a process model</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                {# Modal body #}
                <div class="modal-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ discover_process_form|crispy }}
                </div>
                {# Modal footer #}
                <div class="modal-footer">
                    <input type="submit" name="submitDiscover" id="submitDiscover" class="btn btn-success"
                           value="Discover">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    {# Discover Process Modal Modal Start #}

    {# Visualize Process Model Modal Start #}
    <div id="visualize_process_model" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                {# Modal Header #}
                <div class="modal-header">
                    <h4 class="modal-title">Visualize a process model</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                {# Modal body #}
                <div class="modal-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ view_process_model_form|crispy }}
                </div>
                {# Modal footer #}
                <div class="modal-footer">
                    <input type="submit" name="submitVisualize" id="submitVisualize" class="btn btn-success"
                           value="View">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    {# Visualize Process Model Modal End #}

    {# Upload Process Model Modal Start #}
    <div id="upload_process_model" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                {# Modal Header #}
                <div class="modal-header">
                    <h4 class="modal-title">Upload a process model</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                {# Modal body #}
                <div class="modal-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ upload_process_model_form|crispy }}
                </div>
                {# Modal footer #}
                <div class="modal-footer">
                    <input type="submit" name="submitRender" id="submitRender" class="btn btn-success" value="View">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    {# Upload Process Model Modal End #}

    {# Upload Event Log Start #}
    <div id="upload_event_log" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                {# Modal Header #}
                <div class="modal-header">
                    <h4 class="modal-title">Upload an Event Log</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                {# Modal body #}
                <div class="modal-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ upload_event_log_form|crispy }}
                </div>
                {# Modal footer #}
                <div class="modal-footer">
                    <input type="submit" class="btn btn-success" name="submitUploadEventLog" value="Upload">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
                </form>
            </div>
        </div>
    </div>

    {# Upload Event Log End #}

    {# Select Event Log Start #}
    <div id="select_event_log" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                {# Modal Header #}
                <div class="modal-header">
                    <h4 class="modal-title">View Event Log Statistics</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                {# Modal body #}
                <div class="modal-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ select_event_log_form|crispy }}
                </div>
                {# Modal footer #}
                <div class="modal-footer">
                    <input type="submit" class="btn btn-success" name="submitSelectEventLog" value="Select">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    {# Select Event Log End #}
    {# Modals End #}
{% endblock %}